*{
    margin: 0;
    padding:0;
    box-sizing: border-box;

}

html,body{
    height: 100%;
}

.parent{ 
    display:flex;
}

.sidebar{
    width: 30%;
    height: 100%;
    position: fixed;
    background-color: rgb(5, 13, 133);
}


.sidebar-pos{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.img-sidebar {
    text-align: center;


}

.img-sidebar img{
    width: 80%;
    border: 8px solid black;
    border-radius: 50%;
    
}

.menu{
    margin:20 px 0;
    text-align: center;
}

.menu a{
    color: white;
    opacity: 0.4;
    font-size: 19px;
    text-decoration: none;
    display: block;
    margin-bottom: 30px;

}

.menu a.selected{
    opacity: 1;

}

.content{
    position: absolute;
    left: 30%;
    width: 100%;
    height: 100%;
    overflow-y: auto ;
    padding:0 3% ;
    
}

.section.descricao {
    position: relative;
    top:50%;
    transform: translateY(-50%);
}

.section.descricao h2{
    color: rgb(133, 4, 4);
    font-size: 46px;
    position: relative;
    transform: translateY(-100%);

}

.section.descricao 

